#helloName {
    display: none;
}
#signOut {
    padding-left: 10px;
    color: #007bff;
}
.carousel-caption{
    color: black;
    /* text-shadow: 2px 2px 5px white; */
    /* opacity: 0.5; */
    background-color: rgba(255,255,255,0.9);
}
#signOut:hover{
    color: #0056b3;
}

.navbar {
    background-color: white !important;
}

.display-4 {
    text-align: center;
}

.search-bars {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.jumbotron {
    position: absolute;
    top: 40%;
    width: 100%;
    background: none !important;
}

.testvh {
    height: 100vh;
    background-image: url(./images/background.jpeg);
    background-size: cover;
}

#recipieArea {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bd-example {
    margin: 5px;
}

.scroll-view {
    display: flex;
    justify-content: center;
}

.not-used {
    margin: 5px;
}

.card-fill {
    opacity: 0;
}

.footer {
    margin-top: 25px;
    position: sticky;
    padding: 8px;
    background-color: lightgrey;
    text-align: center;
    width: 100%;
}

i {
    padding: 5px;
    border-right: 1px solid black;
}

.git {
    height: 25px;
    width: 25px;
}

.git:hover {
    transform: scale(1.5);
}


/* media queries */

@media only screen and (max-width: 991px) {
    #buttonSearch {
        margin-top: 10px;
    }
    #buttonSearch {
        margin-bottom: 10px;
    }
    #buttonSearch {
        height: 38px;
    }
}

@media only screen and (max-width: 730px) {
    .calorie-search {
        display: none;
    }
    .ingred-search {
        display: none;
    }
}

@media only screen and (max-width: 554px) {
    .go-away {
        display: none;
    }
}

@media only screen and (max-width: 585px) {
    .footer {
        font-size: 10px;
        ;
    }
}

@media only screen and (max-width: 430px) {
    .git {
        display: none;
    }
}