#helloName {
    display: none;
}

.navbar {
    background-color: white !important;
}

.display-4 {
    text-align: center;
}

.search-bars {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

.jumbotron {
    position: absolute;
    top: 40%;
    width: 100%;
    background: none !important;
}

.testvh {
    height: 100vh;
    background-image: url(./images/background.jpeg);
    background-size: cover;
}

#recipieArea {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bd-example {
    margin: 5px;
}

.scroll-view {
    display: flex;
    justify-content: center;
}

.not-used {
    margin: 5px;
}

.card-fill {
    opacity: 0;
}

.footer {
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}

i {
    padding: 5px;
    border-right: 1px solid black;
}